*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#palya{
    max-width: 1000px;
    margin: 0 auto;

}
.sor{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.cella{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    background-size: cover;

}
h1{
    text-align: center;
    padding: 50px;
}
.kitalalva{
    filter:grayscale(1);
}